@using Karlstad.WebApp.Services
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WeatherForecast

@foreach(var daily in Model.Daily) {
    string iconUrl = $"http://openweathermap.org/img/wn/{daily.Weather.FirstOrDefault().Icon}@2x.png";
    <div class="card mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="@iconUrl" class="card-img" alt="...">
          <p>@daily.Weather.FirstOrDefault().Description</p>
        </div>
        <div class="col-md-8">
          <div class="card-body card-styling">
            <h5 class="card-title">@TimeService.UnixTimeStampToString(daily.Dt)</h5>
            <p class="card-text">Morning temperature: @Math.Round(daily.Temp.Morn)</p>
            <p class="card-text">Day temperature: @Math.Round(daily.Temp.Day)</p>
            <p class="card-text">Night temperature: @Math.Round(daily.Temp.Night)</p>
          </div>
        </div>
      </div>
    </div>
}